* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.container {
    background: white;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     text-align: center;
}




h1 {
    text-align: center;
    margin-bottom: 20px;
}




.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}




button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




button:hover {
    background: #0056b3;
}




ul li {
    list-style: none;
    background: #eee;
    margin: 5px 0;
    padding: 10px;
}



